@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}

ul li {
    list-style: none;
}

main {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.5fr 5fr;
}

/* Header */

#header {
    border: 1px solid black;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;;
}

.upper-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem 0 3rem;
}

.searchbar {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

input[type=search] {
    width: clamp(20ch, 60%, 80%);
    height: 1.5rem;
    border: none;
    border-radius: 6px;
    background-color: rgb(228, 228, 228);
}

input[type=search]:focus {
    box-shadow: 2px 2px 5px black;
}

span.profile {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

img.profile-img {
    height: 30px;
    width: auto;
} 

#header .profile,
#header .user-intro {
    font-weight: 700;
}

.welcome-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.welcome {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

img.user-img {
    height: 60px;
    width: auto;
}

.user {
    font-size: 20px;
}

.lower-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem 1rem 3rem;
}

.button-container {
    display: flex;
    gap: 2rem;
}

.header-btn {
    border-radius: 18px;
    border: 1px solid black;
    width: 6rem;
    height: 2rem;
    background-color: #333;
    color: white;
}

.header-btn:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px #333;
}

/* Dashboard */

#dashboard {
    border: 1px solid black;
    padding: 1rem;
    display: grid;
    gap: 3rem;
    grid-template-rows: 0.25fr 1fr 3fr;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #333;
    color: white;
}

.dashboard,
.directory-link,
.settings-link {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.directory-link:hover,
.settings-link:hover {
    cursor: pointer;
    color: rgb(228, 228, 228);
    transform: scale(1.02);
}

ul.directory, ul.settings {
    display: grid;
    row-gap: 1.5rem;
}

#dashboard .logo {
    font-size: 26px;
}

 /* Middle Content */

#content {
    border: 1px solid black;
    background-color: rgb(228, 228, 228);
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 4rem 1.5rem;
}

.project {
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    grid-template-rows: 0.2fr 1fr 0.2fr;
    border: 1px solid black;
    border-left: solid 10px gold;
    border-radius: 10px;
    padding: 2rem 1.5rem;
    background-color: white;
    box-shadow: 2px 2px 5px #333;
}

p.project-title {
    font-size: 18px;
    font-weight: 700;
}

p.project-content {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.content-icons {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.content-icons img:hover {
    cursor: pointer;
    transform: scale(1.02)
}

.projects-1 {
    position: relative;
}

.projects-1::before {
    content: 'Your Projects';
    position: absolute;
    top: -40px;
    font-size: 20px;
    font-weight: 700;
}

.right-content-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 24.5px 1.5rem 4rem 0;
}

.right-content-container p.right-title {
    height: fit-content;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 1rem;
}

.right-content {
    border: solid 1px black;
    border-left: solid 10px gold;
    border-radius: 10px;
}

.right-1, 
.right-2 {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.announcements-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background-color: white;
    box-shadow: 2px 2px 5px #333;
    padding: 1rem 2rem;
    position: relative;
}

.announcements{
    padding: 1rem 0 1rem 0;
}

.announcements-title {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 0.3rem;
}

.announcements-text {
    color: grey;
    font-size: 14px;
}

.announcements-border {
    border-bottom: 1px solid #333;
}

.announcements, 
.trending {
    flex: 1;
}

.trending-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background-color: white;
    box-shadow: 2px 2px 5px #333;
    gap: 2rem;
    padding: 2rem;
    position: relative;
}

.trending {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.trending-text {
    color: grey;
    font-size: 14px;
    padding-top: 0.3rem;
}

img.trending-icon {
    height: 3em;
    width: 3em;
}




