@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}

ul li {
    list-style: none;
}

main {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.5fr 5fr;
}

#header {
    border: 1px solid black;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;;
}

.upper-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem 0 3rem;
}

input[type=search] {
    width: clamp(20ch, 60%, 80%);
    height: 1.5rem;
    border: none;
    border-radius: 6px;
    background-color: rgb(228, 228, 228);
}

input[type=search]:focus {
    box-shadow: 2px 2px 5px black;
}

#header .profile,
#header .user-intro {
    font-weight: 700;
}

.welcome {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.user {
    font-size: 20px;
}

.lower-header {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem 1rem 3rem;
}

.button-container {
    display: flex;
    gap: 2rem;
}

.header-btn {
    border-radius: 18px;
    border: 1px solid black;
    width: 6rem;
    height: 2rem;
    background-color: #333;
    color: white;
}

#dashboard {
    border: 1px solid black;
    padding: 1rem;
    display: grid;
    grid-template-rows: 0.25fr 1fr 3fr;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #333;
    color: white;
}

ul.directory, ul.settings {
    display: grid;
    row-gap: 1.5rem;
}

#dashboard > .logo {
    font-size: 28px;
}

#content {
    border: 1px solid black;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 4rem 1.5rem;
}

.project {
    border: 1px solid black;
    border-radius: 10px;
}

.projects-1 {
    position: relative;
}

.projects-1::before {
    content: 'Your Projects';
    position: absolute;
    top: -35px;
    font-size: 20px;
    font-weight: 700;
}

.right-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
    padding: 4rem 1.5rem 4rem 0;
}

.right-content-container p {
    height: fit-content
}

.right-content {
    border: solid 1px black;
    border-radius: 10px;
}

.announcements-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 2rem;
    flex: 1;
    position: relative;
}

/* .announcements-container::before {
    content: 'Announcements';
    position: absolute;
    top: -35px;
    left: 0;
    font-size: 20px;
    font-weight: 700;
} */

.announcements{
    padding: 1rem 0 1rem 0;
}

.announcements-border {
    border-bottom: 1px solid #333;
}

.announcements, 
.trending {
    flex: 1;
}

.trending-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    flex: 1;
    position: relative;
}

/* .trending-container::before {
    content: 'Trending';
    position: absolute;
    top: -35px;
    left: 0;
    font-size: 20px;
    font-weight: 700;
} */




